@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');

.hero-body {
    margin-bottom: 20px;
}

.title {
    text-align: center;
    font-family: 'Bevan', cursive;
    font-weight: bold;
    font-size: 300%;
}

.block {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.field.is-grouped {
    margin: 10px;
    padding-bottom: 20px;
}

#numRecords {
    padding: 10px;
    border-color: lightgrey;
    border-radius: 10px;
}

#icon {
    margin-right: 10px;
}

#newspaperIcon {
    margin-right: 20px;   
}




